@import "vendors/bootstrap/bootstrap.less";
@import "vendors/font-awesome/font-awesome.less";
@import "vendors/class.less";
@import "responsive.less";


@font-face {
   font-family: MyriadPro;
   src: url("../fonts/MyriadPro-Regular.otf");
}

//-------------------------------------------
@claro:#fff;
@colorsecundario: #f89420;
@colorazul: #304d6e;
@gris:#e7e8e9;
@Open: "Open Sans", sans-serif;
@Myria: MyriadPro;
//============================================

html{
  width: 100%;
  height: 100%;
  color: #e02550;
}
body {
  width: 100%;
  height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: @Open;
}

.obligatorio {color:#0181ff;}


a,p,span {font-family: @Open;}

.btn-default:focus, .btn-default.focus {color: @claro; background-color: @colorsecundario; border-color: transparent;}

.btn-default:active:hover {color: @claro; background-color: @colorsecundario; border-color: transparent;}

//------------Cuerpo-----------

.msjError {
  display: block;
  position: absolute;
  color: @claro;
}

.landing-container-princ{
  max-width: 984px;
  margin-right: auto;
  margin-left: auto;
}

.landing-container{
  padding-right: 15px;
  padding-left: 15px;
}

.space {
  padding-top: 20px;
}
//--------Cabecera----------------
.header{
  background-color: #e7e7e7;
}

.menuinicial {
  background-color: #e7e7e7;
  border-color: #e7e7e7;
}

.content-logo-princ {
  padding-top: 17px;
  padding-left: 3em;
}

.masterlogo {
  margin-top: 11px;
  height: auto;
}
.masterlogo img {
  max-width: 195px;
  width: 100%;
}
.banlogo {
  padding-left: 34px;
  height: auto;
}
.banlogo img {
  width: 100%;
  max-width: 198px;
}

.navbar-inverse .navbar-brand {
  color: @claro;
}

.navbar-person{
  background-color: @claro;
  height: 100px;

}
.navbar-inverse {

    background-color: transparent;
    border-color: transparent;

}

.navbarperson {
  height: auto;
  margin-bottom: 0;
  padding-bottom: 12px;
  background-color: @gris;
  border-color: @gris;
  // max-height: 99px;
}

.azul{
  color: @colorazul;
}

//---------------CABECERA INTERNA------------

.menu-top{
  padding-right: 2.5em;
  padding-top: 1em;
}

.menu-top >li {
  padding-bottom: 6px;
}

.content-logos {position: relative;top: 1.5em;}

.username {
  color: @colorazul;
  margin-top: 12px;
  font-size: 11px;
  text-align: right;
}

.username a {
  padding: 0;
  padding-right: 50px;
  padding-left: 8px;
  font-size: 13px;
}

.dropdown a{padding-top: 9px; padding-right: 3px;}

.dropdown-menu{left: -200px; padding: 14px;width: 290px;border: 1px solid rgba(222, 222, 222, 0.2);border-radius: 6px 6px 6px 6px !important;box-shadow: 0 6px 12px rgba(0, 0, 0, 0.59);}

.dispositivo h4 {text-align: center; margin-bottom: 10px;}

.dispositivo img {display: block; margin: auto;max-width: 120px;}

.navbar-nav > li > a {padding-top: 10px; padding-bottom: 10px;}

/*Dispositivos */
.disp {padding: 8px; margin-top: 10px; background: #e5e9ed; border-radius: 3px;}

.disp-Atc {padding: 8px; margin-top: 10px; background: #b1b3b5; border-radius: 3px;}

.imgdisp  {padding: 0; text-align: center;; color: #c3c4c9;}

.imgdisp-Atc {padding: 0; text-align: center;; color: @claro;}

.desdisp {padding: 0;}

.listdis1 {list-style: none; text-align: left; padding-left: 10px;}

.listdis1 li:first-child {float: right;}

.listdis1 li:nth-child(2) {font-weight: bold; font-size: 13px;}

.listdis1 li {font-size: 12px;}

.rombomenu {
  width: 15px;
  height: 15px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  left: 218px;
  top: -135px;
}


.navbar-nav{
  float: right;
}


.navbar-default .navbar-collapse{
  border-color: transparent;
  padding-right: 0;
}

.navbar-default .navbar-nav > .active > a {
  background-color: transparent;
}


.imgmaster{
  padding-top: 22px;
padding-left: 26px;
height: auto;
}
.imgmaster img {
  width: 100%;
  max-width: 190px;
}

.imgbanco {
  padding-left: 58px;
  height: auto;
}

.imgbanco img{
  width: 100%;
  max-width: 190px;
}

#menu-main {padding-right: 30px;}

#menu-main > li {
  display: inline-block;
}
#menu-main > li + li {
  margin-left: 10px;
}

#menu-main > li > a {
  padding-right: 0;
  padding-left: 0;
  font-weight: bold;
  color: @colorazul; /* IE8 proofing */
  border-bottom: 4px solid transparent;
  letter-spacing: 0pt;
  padding-bottom: 5px;
  padding-top: 0;
  margin-right: 22px;
}
#menu-main > li > a:hover,
#menu-main > li > a:focus {
  background-color: transparent;
  border-bottom-color: #00aef0;
  border-bottom-color: #00aef0;
}
#menu-main > .active > a,
#menu-main > .active > a:hover,
#menu-main > .active > a:focus {
  color: #00aef0;
  border-bottom-color: #00aef0;
}

//-----------SLIDER-------------------------
.sliders {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  padding-bottom: 0;
  height: auto;
  min-height: 430px;
  padding-top: 0 !important;
  height: calc(84vh - 114px);
  margin-bottom: 1em;
}

.jumbologin {
  background-image: url(../images/background-login.jpg);
}

.jumbologueo {
  background-image: url(../images/background-logueado.jpg);
}

.col-slider-iz {padding-top: 3%;height: calc(84vh - 114px);}

.img-slider-prehome img {width: 100%; max-width: 280px;display: block; margin: auto;}

.contenedor-text-izq {position: absolute;; padding-left: 0; left: -12%;top: 5em;}

.tit-lista h3{
  margin: 0;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  line-height: 1.2;
  margin-top: 1em;
}
.num-list span{color: #fff;
    font-weight: bold;
    font-size: 2.4em;}

.list-number-iz{
  margin-top: 10px;
  margin-left: 5px;
}

.textlist {color: @claro;margin-bottom: 1.5em;}

.textlist span { font-size: 1em;position: relative;}

.list1 span::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 2px;
  top: 4.8em;
  left: 0;
  background-color: #fff;
}

.list2 span::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 2px;
  top: 4.8em;
  left: 0;
  background-color: #fff;
}

.list3 span::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 2px;
  top: 2.2em;
  left: 0;
  background-color: #fff;
}

.img-slider-prehome {padding-top: 1em; margin-bottom: 1em;}


.titbanner1 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding-right: 27px;
  padding-top: 30px;
  display: block;

}

.titbanner1 h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  position: relative;
}

.titbanner1 h2::after {
  content: "";
position: absolute;
width: 68px;
height: 1px;
top: 2.5em;
right: 5em;
background-color: #fff;
}

.titbanner2 {
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.titbanner2 h2 {
  font-size: 31px;
  font-weight: bold;
  position: relative;
}

.titbanner2 h2::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 1px;
  top: 2.5em;
  right: 5em;
  background-color: #fff;
}

.input-tarj{
  float: right;
}
.info {
  color: @claro;
}

.info1{
  color: @claro;
  padding-left: 25px;
  font-size: 11px;
}

.formlogin {
  text-align: right;
  margin-top: 2em;
}
.formuDi{
  width: 58%;
}

.formlogin1 {
  margin-top: 34px;
}

.input-tarje{
  float: right;
  padding-right: 7px;
  padding-left: 6px;
}

.formdoc {
 width: 100% !important;
color: #fff;
background-color: transparent;
border: 2px solid #fff;
border-radius: 0;
height: 37px;
padding: 5px 22px;
margin-right: 10px;
font-size: 12px;
}

.termin {color:@claro;}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] { -moz-appearance:textfield; }

.boton {
  color: @claro;
  background-color:@colorsecundario;
  border-color: @colorsecundario;
  width: 150px;
  border: 1px solid @colorsecundario;
  border-radius: 0;
}

.btn-default:hover {
  color: @claro;
  background-color: #e0933f;
  border-color: #e0933f;
}
.btn-default:active{
  color: @claro;
  background-color: #e0933f;
  border-color: #e0933f;
}
.btn-default:active:focus {
  color: @claro;
  background-color: @colorsecundario;
  border-color: @colorsecundario;
}

//-----------SLIDER interno

.slider-interno {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  height: auto;
  min-height: 430px;
  padding-bottom: 50px;
  overflow: hidden;
  padding-top: 0 !important;
}
.jumbointerno {
  background-image: url(../images/background-home.jpg);
}

.jumbointerno2 {
  background-image: url(../images/background-premios.jpg);
}

.jumbointerno3 {
  background-image: url(../images/background-contacto.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  height: auto;
  min-height: 430px;

}
.jumbotron {
  padding-top: 80px;
  @media (max-width:1199px){
    background-position: center left;
  }
}

.textslidercontact {
    position: relative;
    top: 10em;
    right: -236px;
    color: #fff;
}

.textslidercontact h2 {font-size: 27px;}

.textslidercontact span {font-size: 31px; font-weight: bold;}

.smartphone {
  position: relative;
  width: 100%;
  max-width: 225px;
  top: 5em;
  left: 3em;
}

.smartphone img {max-width: 200px;width: 100%;}

.produccafetera {
  position: relative;
  width: 100%;
  max-width: 212px;
  top: 42px;
  right: -64px;
}
.content-text-left {
  position: relative;
  width:100%;
  top: 5em;
  padding: 0 15px;
  color: @claro;
  text-align: center;
  h2,h3{
    font-weight: bold;
    margin: 0;
  }
  h2{
    font-size: 36px;
  }
  h3 {
    font-size: 20px;
  }
}

.tit-text-right {padding-top: 4em;margin-bottom: 2em;position: relative;}

.content-right-text a:hover,.content-right-text a:focus,.content-right-text a:active {color: #fff;}

.content-right-text {
  position: relative;
  color: @claro;
  h2 {
    font-size: 36px;
    font-weight: bold;
  }
  h3, h4 {
    font-size: 24px;
    font-weight: bold;
  }
}

.content-right-text h3::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 1px;
  top: 5.6em;
  left: 0;
  background-color: #fff;
}

.content-right-text2 {
  padding-left: 10px;
  padding-top: 49px;
  color: @claro;
}

.tit-text-right2 h3 {
  margin-top: 25px;
  font-size: 20px;
  font-weight: bold;
}
.parraf-slider {
  margin-bottom: 1em;
  h4 {
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
  }
  p {
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 20;
    &:last-of-type{
      margin-bottom: 0px;
    }
  }
}

.parraf-slider2 p{
  font-size: 14px;
  margin-bottom: 0;
  padding-right: 100px;
}
.parraf-slider2 span {
  font-weight: bold;
  font-size: 16px;
}

.conoce {
  color: @claro;
  text-decoration: underline;
  font-weight: bold;
}

.content-btn{
  margin-top: 14px;
}
.content-btn button{
  display: inline-block;
  width: auto;
  color: @claro;
  padding: 8px 20px 10px 20px;
  border-color: @colorsecundario;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  background-color: @colorsecundario;
  img {
    display: inline-block;
    max-width: 19px;
    margin-top: -5px;
    margin-right: 8px;
    vertical-align: middle;
  }
}
.parraf-info {
  margin-top: 15px;
  p{
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
  }
}

//-----------METAS--------------
.containermetas {
  padding: 40px;
}

.allmetas{
  background-image: url(../images/backsection1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  height: auto;
}

//New code for premios
  .row-produc {
  width:100%;
  padding:20px 0;
  display:flex;
  justify-content:space-around;
  align_items:center;
  flex-wrap:wrap;
  flex-direction: colum;
  }
  .item {
   width:242px;
  height:330px;
  font-weight:700;
  color:#000;
  background-color:#fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align:center;
  line-height:73px;
  margin:0.1em;
  position: relative;
  margin-bottom: 2em;
  border-radius: 5px;
  padding: 1em;
  padding-top: 7em;
  }
  .item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 76px solid rgb(0, 174, 240);
    border-left: 76px solid transparent;
    width: 0;
    transform: rotate(-90deg)
}

  .item .offer {
    height: 22%;
    padding-top: 8px;
  }

  .info-prem {
    padding-top: 1em;
    display: block;
  }

  .item .badge-danger {background-color:#264e72; z-index: 2;top:1em;}

  .item .w-25 {width: 30% !important;}

  .item .rounded-circle {border-radius: 50% !important;}

  .position-absolute { position: absolute !important; }

  .badge-danger img {width: 100%; max-width: 50px; display: block; margin: auto;}

  .content-btn {padding-top: 1em;}

  // .more-prem {position: relative;}

  .item .block{
  background-color: rgba(38, 78, 114, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 3;
  }

  .item .active {display: block;}

  .item .block .btnmore{
    position: relative;
    top: 5em;
    max-width: 180px;
    width: 100%;
      }
//end new code

.imgaward {
  display: inline-block;
  margin-left: 16px;
}

.imgaward img {
  width: 100%;
  max-width: 94px;
  padding: 15px 0 0 8px;
  display: block;
}

.linecontainer {
  display: inline-block;
}

.titlemetas {
  display: inline-block;
}

.titlemetas h2 {
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #264e72;
}


// .cardMetas{
//   position: relative;
//     padding: 25px 20px;
//     background-color: @claro;
//     border-radius: 5px;
//     width: 100%;
//     height: 330px;
//     margin-bottom: 25px;
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//     &:after {
//       content: '';
//       position: absolute;
//       top: 0;
//       left: 0;
//       border-top: 76px solid rgb(0, 174, 240);
//       border-left: 76px solid transparent;
//       width: 0;
//       transform: rotate(-90deg)
//   }
// }

.circulo {
    position: relative;
    width: 97px;
    height: 97px;
    margin-bottom: 25px;
    background: rgb(38, 78, 114);
    z-index: 1;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    img{
      position: absolute;
      max-width: 55px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}

.metaCard {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    color: rgb(38, 78, 114);
    line-height: 1.2;
    text-align: left;
    margin-bottom: 0;
}

.subTitleMetaCard {
  position: relative;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    color: rgb(38, 78, 114);
    line-height: 1.2;
    text-align: left;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 10px;
    &:before {
      content: "";
      position: absolute;
      width: 71px;
      height: 1px;
      left: 0;
      bottom: 0;
      background-color: rgb(38, 78, 114);
  }
}

.fechaMetaCard {
    font-family: "Open Sans", sans-serif;
    color: rgb(38, 78, 114);
    font-style: italic;
    line-height: 1.2;
    text-align: left;
    padding-top: 8%;
    margin-bottom: 25px;
}
//


.btnRedimir {
  position: relative;
  width: 100%;
  padding: 12px 15px;
  text-align: center;
  left: 0%;
}

.bgorange, .bgorange:hover, .bgorange:active, .bgorange:focus {background-color: rgb(248, 148, 32); border-color: rgb(248, 148, 32);}


.bgFuchsia, .bgFuchsia:hover, .bgFuchsia.focus, .bgFuchsia:active { background-color: rgb(227, 37, 81); border-color: rgb(227, 37, 81); }

.bgSilver, .bgSilver:hover, .bgSilver:focus, .bgSilver:active { background-color: rgb(177, 179, 181); border-color: rgb(177, 179, 181); }

.positionBtnMetas{
    position: relative;
}

.textRedimir {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    line-height: 1.2;
}
//PREMIOS CATALOGO

.CatPremios {
  background-image: url(../images/fondobanreservas.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  height: auto;
  position: relative;
  top: -24px;
}
// code new
  .cat-prem {
  width:100%;
  padding:20px 0;
  display:flex;
  justify-content:space-around;
  align_items:center;
  flex-wrap:wrap;
  flex-direction: colum;
  }

  .list-prem{width:272px;
  height: auto;
margin-bottom: 2em;}

  .items {
    width:272px;
    height:259px;
    color:#000;
    background-color:#fff;
    position: relative;
    text-align:center;
    line-height:73px;
    margin: 1em 0.1em;
    display: table;
    border-radius: 5px;

    }

    .items::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background: white;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      left: 24px;
      bottom: -0.3em;
      z-index: 3;
    }



    .contnt-btnmas{
      background: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 5;
    border-radius: 5px;
    }

    .items:hover>.contnt-btnmas {display: block;}

    .items .contnt-btnmas .btnmas{
      position: relative;
      top: 4em;
      width: 100%;
      max-width: 150px;
    }

    .product-thumbnail {display: table-cell;vertical-align: middle;}
// end code new

.premios {
  margin-top: 70px;
  margin-bottom: 30px;
}

.imgprem {
  display: inline-block;
}

.imgprem img {
  width: 100%;
  max-width: 95px;
  padding: 15px 0 0 8px;
  display: block;
  position: relative;
  left: 43px;
}
.titleprem {
  display: inline-block;
}

.titleprem h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #264e72;
  margin-left: 30px;
}

.contentcatal {margin: 30px 0;}

.catalogo {
  padding: 19px 0 18px 24px;
    background-color: #fff;
    border-radius: 5px;
    width: 192px;
    height: 184px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;

}

.catalogo img {
  width: 100%;
  max-width: 148px;
}

// .rombo {
//     width: 15px;
//     height: 15px;
//     background: white;
//     -webkit-transform: rotate(45deg);
//     -moz-transform: rotate(45deg);
//     -ms-transform: rotate(45deg);
//     -o-transform: rotate(45deg);
//     transform: rotate(45deg);
//     position: relative;
//     left: 24px;
//     top: -33px;
// }
.textCatalogueAwards {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(38, 78, 114);
  line-height: 1.2;
  text-align: left;
  padding-right: 15px;
}

.imageViewMore {
  display: block;
margin: 25px 0px 0px 25px;
position: absolute;
z-index: 3;
width: 100%;
max-width: 132px;
}

.sinhistory{
  margin-top: 53px;
  background-color: #626266;
  margin-bottom: 40px;
  text-align: right;
  margin-left: 30px;
  margin-right: 35px;
  height: 182px;
  border-radius: 5px;
  padding: 20px 80px 0 0;
}

.DialogHistory h2 {
  text-align: right;
  display: inline-block;
  font-weight: bold;
  padding-top: 25px;
  padding-right: 24px;
  color: #f89420;
}

.DialogHistory h2::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 1px;
  bottom: 15px;
  right: 10em;
  background-color: #f89420;
}
.DialogHistory img {
  float: right;
  display: inline;
  width: 100%;
  max-width: 129px;
}

.rombo2 {
  width: 20px;
  height: 20px;
  background: #626266;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  left: 40px;
  top: 152px;
}

//----------PREMIOS------------

.backform{
  background-image: url(../images/backform.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  height: auto;
  position: relative;
  top: -24px;
}

.contentcatalprem
{
  margin: 30px 0;
  height: auto;
  min-height: 280px;
  position: absolute;
  right: 72px;
  top: 23px;
}

.catalogoprem {
  padding: 25px 20px 15px;
background-color: #fff;
border-radius: 5px;
width: 192px;
height: 255px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin-bottom: 25px;
}

// Code New
.contenedor-premio{position: relative;left: 8em; top: 4em;}

.items-prem {
  width:240px;
  height:259px;
  color:#000;
  background-color:#fff;
  position: relative;
  text-align:center;
  line-height:73px;
  margin: 1em 0.1em;
  display: table;
  border-radius: 5px;

  }

  .items-prem::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: -0.7em;
    bottom: 8.7em;
    z-index: 3;
  }

// End Code New


// .rombopremios {
//   width: 20px;
// height: 20px;
// background: white;
// -webkit-transform: rotate(45deg);
// -moz-transform: rotate(45deg);
// -ms-transform: rotate(45deg);
// -o-transform: rotate(45deg);
// transform: rotate(45deg);
// position: relative;
// left: 182px;
// top: -164px;
// }

.titledatos{
  bottom: 18px;
  position: relative;
  display: inline-block;
  left: 0;
}

.titledatos h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #264e72;
  margin-left: 6px;
}
.imgUser {
  display: inline-block;
  margin-left: 68px;
margin-top: -3px;
}

.imgUser img{
max-width: 69px;
display: block;
}

.imgDirec {
  display: inline-block;
  margin-top: -21px;
  position: relative;
  padding-left: 46px;
  }

  .imgDirec img {
  max-width: 69px;
  padding: 10px 0 0 8px;
  display: block;
  }

  .linea2 {
    height: 70px;
    width: 40px;
    position: absolute;
    top: 0;
    left: 126px;
  }

.formdatos {
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  padding: 15px;
  overflow: hidden;
}

.titleformcontac, .formcontact {
  padding-top: 50px;
}

.titlecontacto {
  bottom: 4px;
  position: relative;
  display: inline-block;
  left: 31px;
}

.titlecontacto h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #264e72;
  margin-left: 6px;
}

.formcontact {
  overflow: hidden;
}
.personal {
  background-color: #b1b3b5;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

}

  .colorplace::-webkit-input-placeholder {
    color: @claro;
  }

  .colorplace:-moz-placeholder { /* Firefox 18- */
    color: @claro;
  }

  .colorplace::-moz-placeholder { /* Firefox 19+ */
    color: @claro;
  }

  .colorplace:-ms-input-placeholder { /* IE 10+ */
    color: @claro;
  }

  .colorplace::-ms-input-placeholder { /* Edge */
    color: @claro;
  }

  .colorplace:placeholder-shown { /* Standard one last! */
    color: @claro;
  }

.msj{
  color: #e02550;
}

.inputcontact {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.btnform {
  padding-top: 15px;
  display: table;
  float: right;
}

.checkbox {
  display: table-cell;
  padding-left: 0;
}
.boton2 {
  display: table-cell;
  padding-left: 16px;
}

.btnform .checkbox label >a, .btnform .checkbox label >a:hover, .btnform .checkbox label >a:active, .btnform .checkbox label >a:focus {color: #0e4d70;}

.checkbox label {font-size: 1em !important;}

.checkbox label > a:hover, .checkbox label > a:focus, .checkbox label > a:active {color: @claro}

.btnpuntos {
  background-color: @colorsecundario;
  border-radius: 0;
  border-color: @colorsecundario;
  color: @claro;
}

.btnform-contact, .botoncontact, .checkboxcontact {text-align: center;}

.imgUser2 {display: inline-block; margin-left: 0px; margin-top: -3px;}

.imgUser2 img {max-width: 69px; display: block; }

.line1 {height: 70px; width: 40px; position: absolute; top: 0; left: 76px;}

.titledatoscontact {bottom: 4px;position: relative; display: inline-block; left: 0;}

.titledatoscontact h2 {text-transform: uppercase; font-weight: bold; color: #264e72; margin-left: 6px;}

//--------------MODAL -------------------

.modal-dialog1 {-webkit-transform: translate(0, -25%);
-ms-transform: translate(0, -25%);
-o-transform: translate(0, -25%);
transform: translate(0, -25%);
-webkit-transition: -webkit-transform 0.3s ease-out;
-moz-transition: -moz-transform 0.3s ease-out;
-o-transition: -o-transform 0.3s ease-out;
transition: transform 0.3s ease-out;
position: relative;
width: 804px;;
margin: 194px auto;
}

//------FOOTER---------------------
.footer-inicial{
  bottom: 14px;
}

footer {
  background-color:#e7e8e9;
  width: 100%;
  height: auto;
  min-height: 88px;
  padding: 15px 0;
}

.nav-footer{
  padding: 0;
}
.navbar-footer{
  border-bottom: 0;
  margin-top: 10px;
}

.copy {margin-top: 10px;}

.navbar-footer > li.active > a{
  color: #337ab7;
  background: transparent;
  border: 0;
}

.nav-tabs > li.active > a:focus {

    color: #337ab7;
    background-color: transparent;
    border: 0px;
    border-bottom-color: transparent;
    cursor: default;

}

.nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
}

.navbar-footer > li > a {
    padding: 10px 5px;
    font-size: 12px;
}

.navbar-footer > li { position: relative;; }

.navbar-footer > li:first-child::after{
  display: none;
}

.navbar-footer > li:after {
  display: block;
 content: "";
 width: 1px;
 height: 14px;
 background: #337ab7;
 left: 1px;
 bottom: 12px;
 position: absolute;
 top: 12px;
}

 //.navbar-footer > li:last-child {border-right:none;}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
  color: #337ab7;
    background-color:transparent;
    border: 0px solid transparent;
        border-bottom-color: transparent ;
    border-bottom-color: transparent;
    cursor: default;
}

.contentcheck {
  margin-left: 0;
  padding-right: 5px;
}

.checkbox {
    padding-right: 0;
}

.checkbox label {

  color: @claro;
  font-size: 11px;
}

.contentboton {
  margin-left: 0 ;
  text-align: right;
  padding-right: 0;
}

footer p {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #337ab7;
}

//-----------------MODAL-----------------------------
#myModal, #ModalProduct, #ModalRedencion {
  background-color: rgba(38, 78, 114,0.9);
  opacity: 1;
}

.modal-header {
  padding: 0;
  border-bottom: 0;
}

.modal-body {
  padding: 0;
}

.modal-dialog {
  width: 804px;
margin: 175px auto;
}

.close {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  //filter: alpha(opacity=20);
  position: absolute;
  top: -22px;
  right: 2px;
  opacity: 1;
}

.close:hover, .close:focus {
  color: @claro;
text-decoration: none;
cursor: pointer;
opacity: 1;
}

.imgmodal {
  padding: 0;
}

.imgmodal img{
  width: 100%;
  max-width: 318px;
  float: right;
  margin-right: 14px;
}

.imgmodalproduct img{
  width: 100%;
  max-width: 318px;
  float: right;
  margin-right: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Titlemodal1 {
  padding: 45px 0;
  padding-left: 0px;
  padding-left: 69px;
  padding-bottom: 0;
}
.Titlemodal1 h2 {
  font-weight: bold;
}

.Titlemodal1 h2::before {
  content: "";
position: absolute;
width: 44px;
height: 1px;
top: 50%;
left: 14%;
background-color: @colorazul;
}
.Titlemodal1 ul {
margin-top: 25px;
}

.Titlemodal2 {
  padding: 45px 0;
  padding-left: 0px;
  padding-left: 69px;
  padding-bottom: 0;
}

.Titlemodal2 h2 {
    font-weight: bold;
}

.Titlemodal2 h2::before {
  content: "";
position: absolute;
width: 44px;
height: 1px;
top: 122px;
left: 14%;
background-color: @colorazul;
}

.Titlemodal2 p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.Titlemodal3 {
  padding: 30px 0;
  padding-left: 0px;
  padding-left: 69px;
  padding-bottom: 0;
}

.Titlemodal3 h2 {
    font-weight: bold;
}

.Titlemodal3 h2::before {
  content: "";
position: absolute;
width: 44px;
height: 1px;
top: 106px;
left: 14%;
background-color: @colorazul;
}

.Titlemodal3 p {
  margin-top: 20px;
  margin-bottom: 14px;
}

.Titlemodal3 h4 {
  font-size: 14px;
  font-weight: bold;
}

.btn-car {
  background-color: @colorsecundario;
  border-color: @colorsecundario;
  width: 56%;
  color: @claro;
  display: block;
}

.Shopcar-exit {
  background-color: @colorsecundario;
  border-color: @colorsecundario;
  width: 30%;
  color: @claro;
  display: block;
}

.ec-stars-wrapper {
    font-size: 0;
    display: inline-block;
}
.ec-stars-wrapper a {
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    font-size: 3rem;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}
.clasificacion {
    text-align: left;
    margin: 0;
    z-index: 10;
}

.imgmodalredencion {
  padding: 0;
}

.imgmodalredencion img{
  width: 100%;
  max-width: 330px;
  float: right;
  margin-right: 14px;
}

//---------------------------------------------------
//---------------------------------------------------
