
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    /*INDEX*/

  .jumbologin {background-position: 42% 0% !important;}

  .contenedor-text-izq {left: -8% !important;}

  .col-slider-de {right: -2%;}

    .content-logo-princ{
      padding-left: 10px;
    }

    .textlist{padding-right: 22px;}

    .titbanner1 h2 {font-size: 28px;}


    .titbanner1 h2::before{top: 70%; right: 47%;}

    .formuDi{width: 56% !important;}

    /*LOGUEADO */

    .jumbologueo {background-position: 48% 0% !important;}

    .formdoc {width: 100% !important;}

    .info1 {padding-left: 0px !important;font-size: 11px !important;}

    .termin {font-size: 12px !important;}

    .navbar-footer > li > a {padding: 12px 4px; font-size: 11px;}

    .contentcheck {padding-left: 0;}

    .terminoslogueado {left: 2em;}




    /*HOME*/
    .imgmaster {padding-left: 20px;}

    .imgbanco { padding-left: 30px; }

    .jumbointerno {background-position: 32% 0% !important;}

    .content-right-text {left: -7em;}

    .parraf-slider {margin-bottom: 40px;}

    .imgbanco {padding-left: 1.5em !important;}

    .modal-dialog {margin: 90px auto;}

    .landing-container-princ {width: 940px;}

    #menu-main > li > a {font-size: 12px;}

    // PREMIOS

    .contenedor-premio {left: 5em !important;}

    .jumbointerno2 {background-position: 40% 0% !important;}

    /*CONTACTO*/

    .jumbointerno3 {background-position: 40% 0% !important;}

    .textslidercontact {left: 14em; right: 0;}

    .textslidercontact {right: -94px;}

  }
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

  /*INDEX*/

  .content-logo-princ {padding: 17px 138px 0;}

  .container {width:100%;}

  .jumbologin {background-image: none !important; padding: 0;}

  .landing-container-princ {width: 100%;}

  .col-slider-iz {background-image: url(../images/background-login.jpg);background-position: 0% 0% !important; background-position: center; background-repeat: no-repeat; background-size: cover; display: block;}

  .contenedor-text-izq {left: 0 !important; top: 1em !important;}

  .col-slider-de {margin-top: 10px; background: #50ace9; background: -moz-linear-gradient(top, #50ace9 0%, #304d6e 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, #50ace9), color-stop(100%, #304d6e)); background: -webkit-linear-gradient(top, #50ace9 0%, #304d6e 100%); background: -o-linear-gradient(top, #50ace9 0%, #304d6e 100%); background: -ms-linear-gradient(top, #50ace9 0%, #304d6e 100%); background: linear-gradient(to bottom, #50ace9 0%, #304d6e 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50ace9', endColorstr='#304d6e', GradientType=0);}

  .tit-premio h3 {margin-top: 67px;}

  footer {height: 105px;}

  .titbanner1 {text-align: center; padding-right: 0; padding-top: 4%; }

  .titbanner1 h2 {font-size: 40px; font-weight: bold;}

  .titbanner1 h2::after {width: 140px !important; height: 2px !important; top: 2.5em !important; right: 7.4em !important;}

  .formlogin {padding-bottom: 20px;text-align: right !important;position: relative; left: -13em;}

  .navbar-footer > li > a {font-size: 11px;}

  .copy p {font-size: 1rem;text-align: center;}

  .footerlogo img {max-width: 50px;}

  /*LOGUEADO */

  .jumbologueo {background-image: none !important; padding: 0;}

  .jumbologueo .landing-container-princ .col-slider-iz {background-image: url(../images/background-logueado.jpg);background-position: 0% 0% !important; background-position: center; background-repeat: no-repeat; background-size: cover; display: block;}

  .col-slider-der {margin-top: 10px; background: #50ace9; background: -moz-linear-gradient(top, #50ace9 0%, #304d6e 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, #50ace9), color-stop(100%, #304d6e)); background: -webkit-linear-gradient(top, #50ace9 0%, #304d6e 100%); background: -o-linear-gradient(top, #50ace9 0%, #304d6e 100%); background: -ms-linear-gradient(top, #50ace9 0%, #304d6e 100%); background: linear-gradient(to bottom, #50ace9 0%, #304d6e 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50ace9', endColorstr='#304d6e', GradientType=0);}

  .titbanner2 {margin-top: 5%;}

  .titbanner2 h2 {font-size: 40px; font-weight: bold;}

  .titbanner2 h2::after { width: 112px !important; height: 2px !important; top: 2.5em !important; left: 10em; }

  .formdoc {width: 50% !important;text-align: center;}

  .info1 {font-size: 13px !important;padding-left: 0 !important;margin: auto !important; display: block !important;}

  .contentcheck {text-align: right !important;left: -3em !important;}

  .contentboton {text-align: left !important;}

  .formlogin1 {margin-top: 40px;}

  /*HOME */

  .content-logos {top:0.5em !important;}
  // menu
  .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }

    .navbar-default .navbar-collapse {background: #e7e8e9; z-index: 9; position: absolute;}

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
      padding-left: 2em !important;
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    .menu-top .username {float: left;}

    .menu-top .dropdown {display: none;}

    .menu-top {padding-right: 0 !important;}

    .Menus .row {margin: 0;}

    .navbar-default .navbar-collapse {right: 0; width: 100%;}
  // end menu

  .navbarperson {
    height: auto;
    max-height: 88px;
  }
  .imgmaster, .imgbando {height: auto;}

  .imgmaster img {max-width: 140px;}

  .imgbanco img {max-width: 140px;}

  .styleBorderCard::after {right: 65%;}

  .contenedor-premio {left: 5em !important;}

  .linea2 {left: 7em !important;}

  /*MODAL*/
  .Titlemodal1 {padding: 20px 0;padding-left: 31px;}

  .Titlemodal1 h2 {font-size: 26px;}

  .Titlemodal1 h2::before {top: 40%; left: 14%;}

  .modal-dialog1 {width: 677px; margin: 130px auto;}

  .modal-dialog { width: 677px;margin: 80px auto;}

  .Titlemodal2 {padding: 38px 0;padding-left: 38px;}

  .Titlemodal2 h2 {font-size: 24px;}

  .Titlemodal2 h2::before {top: 104px; left: 10%;}

  .btn-car {width: 73%;}

  /*PREMIOS */

  .contentcatalprem {top: 47px;right: 34px;}

  .girl2 {top: 57px;max-width: 335px;right: 57px;}

  .titlecontacto h2 {font-size: 28px;margin-left: 0;}

  .titlecontacto span {font-size: 11px;}

  .titlecontacto {left: 78px;}

  /*CONTACTO*/
  .textslidercontact {right: 0;}

  .girl2 {top: 22px;}

 }

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  /*INDEX*/

  .content-logos {top: 0.5em !important;}

.jumbologin {background-image: none !important; padding: 0;}

.col-slider-iz {background-image: url(../images/background-login.jpg);background-position: 0% 0% !important; background-position: center; background-repeat: no-repeat; background-size: cover; display: block;}

.contenedor-text-izq {left: 0 !important; top: 1em !important;}

  .banlogo {padding-left: 0;}

  .navbarperson {max-height: 154px;}

  #menu-main {padding-right: 34px;overflow: hidden;margin-right: 0px;}

  #menu-main > li > a {font-size: 12px; margin-right: 0;}

  .menu-top > li {padding-bottom: 0;}

  .menu-top {padding-right: 18px;}

  .dropdown {display: none !important;}

  .nav > li {display: inline-block;}

  .navbar-nav { margin: 4.5px ; }

  .jumbologin {padding: 0;}

  .landing-container-princ {width: 100%;}


  .col-slider-de {margin-top: 10px; background: rgba(80,172,233,1); background: -moz-linear-gradient(top, rgba(80,172,233,1) 0%, rgba(48,77,110,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(80,172,233,1)), color-stop(100%, rgba(48,77,110,1))); background: -webkit-linear-gradient(top, rgba(80,172,233,1) 0%, rgba(48,77,110,1) 100%); background: -o-linear-gradient(top, rgba(80,172,233,1) 0%, rgba(48,77,110,1) 100%); background: -ms-linear-gradient(top, rgba(80,172,233,1) 0%, rgba(48,77,110,1) 100%); background: linear-gradient(to bottom, rgba(80,172,233,1) 0%, rgba(48,77,110,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50ace9', endColorstr='#304d6e', GradientType=0 );}

  .tarjeta1 {height: auto;}

  .tarjeta1 img {position: relative; top: 15px; right: 0; display: block; margin: auto; max-width: 284px;}

  .titbanner1 {text-align: center; padding: 0 !important;padding-top: 20px;}

  .titbanner1 h2 {padding-top: 10px; font-size: 40px; font-weight: bold; }

  .titbanner1 h2::after  {top: 2.5em !important; right: 5em !important;}

  .tit-premio h3 {font-size: 22px; text-align: left; margin-left: 10px; margin-right: 0px;}

  .formlogin {text-align: center;padding-bottom: 20px;}

  .formuDi {width: 100% !important;}

  .formdoc{width: 50% !important; margin: auto !important;text-align: center;}

  .boton {width: 50% !important; margin: auto; display: block;}

  .navbar-footer > li > a {font-size: 12px;}

  .copy p {text-align: center;}

  .modal-dialog1 {width: 655px;}

  .modal-dialog {width: 700px; margin: 65px auto;}

  .Titlemodal2 {padding: 20px 0 0 40px;}

  .Titlemodal2 h2 {font-size: 26px;}

  .Titlemodal2 h2::after {left: 9em !important;}

  .btn-car {width: 70%;}

  /*LOGUEADO */

  .jumbologueo {background-image: none !important; padding: 0;}

  .jumbologueo .landing-container-princ .col-slider-iz {background-image: url(../images/background-logueado.jpg);background-position: 0% 0% !important; background-position: center; background-repeat: no-repeat; background-size: cover; display: block;}

  .content-logo-princ {display: block; margin: auto;}

  .input-tarje {padding-left: 15px !important; padding-right: 15px !important;}

  .terminoslogueado {text-align: center !important; margin-bottom: 1em !important;}

  .col-slider-der {margin-top: 10px; background: #50ace9; background: -moz-linear-gradient(top, #50ace9 0%, #304d6e 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, #50ace9), color-stop(100%, #304d6e)); background: -webkit-linear-gradient(top, #50ace9 0%, #304d6e 100%); background: -o-linear-gradient(top, #50ace9 0%, #304d6e 100%); background: -ms-linear-gradient(top, #50ace9 0%, #304d6e 100%); background: linear-gradient(to bottom, #50ace9 0%, #304d6e 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50ace9', endColorstr='#304d6e', GradientType=0);}

  .titbanner2 {padding-top: 5%;}

  .titbanner2 h2 {font-size: 40px;font-weight: bold;}

  .titbanner2 h2::after {left: 9em !important;}

  .contentboton {padding-right: 15px !important; padding-left: 15px !important;}



  /*HOME*/

  // menu
  .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }

    .navbar-default .navbar-collapse {background: #e7e8e9; z-index: 9; position: absolute;}

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
      padding-left: 2em !important;
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    .menu-top .username {float: left;}

    .menu-top .dropdown {display: none;}

    .menu-top {padding-right: 0 !important;}

    .Menus .row {margin: 0;}

    .navbar-default .navbar-collapse {right: 1em; width: 100%;}
  // end menu

  .imgmaster img {max-width: 170px;}

  .imgbanco {padding-left: 0;}

  .imgbanco img {max-width: 170px;}

  .styleBorderCard::after {right: 165px;}

  .btn {font-size: 12px;}

  .contentcatalprem {right: 25px;}

  .content-right-text2 {padding-top: 24px;}

  .imgUser {margin-left: 0;}

  .titledatos h2 {font-size: 26px;}

  /*PREMIOS */

  .imgDirec {margin-left: 0; padding-left: 0; right: 16px;}

  .imgDirec img {max-width: 62px; padding-top: 10px;padding: 0;}

  .linea2 {left: 56px;}

  .titlecontacto {bottom: 4px; position: relative; display: inline-block; left: 15px; padding-right: 0; top: -13px;}

  .titlecontacto h2 {margin-left: 0; font-size: 23px;}

  .titlecontacto span {font-size: 14px;}

  .nav-footer {padding-left: 15px;}

  .footerlogo img {margin-top: 22px;}

  .parraf-slider2 p {padding-right: 20px;}

  .DialogHistory h2::before {top: 3.5em !important;}

  .contenedor-premio {left: 2em !important;}

  .linea2 {left: 6.5em !important;}

  .textslidercontact {left: 0em !important; right: 0; top: 8em !important;}

  .jumbointerno3 {background-position: 55% 0% !important;}

  .line1 {left: 4em !important;}

  .jumbointerno2 {background-image: url(../images/background-premios1.jpg) !important;}

  .jumbointerno {background-image: url(../images/background-home1.jpg) !important;}

  /*MODALES */

  .Titlemodal3 {padding: 18px 0;padding-left: 48px; padding-bottom: 0;}

  .Titlemodal3 h2::before {top: 98px; left: 11%;}

  /*CONTACTO */

  .textslidercontact { right: 0;}

  .imgUser img {max-width: 60px;}

  .imgUser svg {position: absolute; top: -11px; left: 47px;}

  .titledatos {position: relative; left: 24px; top: -9px;}

  .titledatos h2 {margin-left: 0;}

  .btn {width: 100%;}

  .titledatoscontact {left: 46px;padding-right: 22px;}


 }

 @media (max-width:650px) {
   .titbanner1 h2 {font-size: 38px;}
 }
/* Portrait phones and smaller */
@media (max-width: 480px) {

  /*INDEX*/


  .content-logo-princ{padding: 20px 10px 0;}

  .masterlogo {height: auto;}

  .masterlogo img {max-width: 190px;}

  .banlogo {padding-left: 0 !important; height: auto !important;}

  .banlogo img {max-width: 198px;}

  .col-slider-iz {background-image: url(../images/background-login1.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; display: block;height: calc(100vh - 114px) !important;}

  .col-xss-12 {width: 100%;}

  .tit-premio h3 {font-size: 22px;text-align: left;}

  .custom-counter li::before {width: 10%;}

  .textlist {font-size: 15px;}

  .list1 span::after {top: 4.8em !important;}

  .list2 span::after {top: 4.8em !important;}

  .list3 span::after {top: 2.2em !important;}

  .titbanner1 h2::after { top: 4em !important; right: 2.5em !important; }

  .titbanner2 h2::after { left: 3em !important; }

  .titbanner1{ padding-top: 20px;}

  .titbanner1::before {top: 64%;}

  /*LOGUEADO */

  .titbanner2 {padding-top: 30px;}

  .titbanner2 h2::before {top: 60%; right: 32%;}

  .contentboton {padding-right: 15px;}

  .tarjeta1 img {width: 100%;top:12px;}

  .titbanner2 h2 {font-size:36px;}



  /*HOME*/
  .imgbanco {padding-left: 1em !important;}

  .imgmaster img {max-width: 140px;}

  .imgbanco img {max-width: 140px;}

  .smartphone {left: 0 !important; top: 2em !important;}

  .content-text-left {top: 2em !important;}

  .content-right-text {width: 100% !important;}

  .btn-block {width: 100% !important;}

  .content-btn button {font-size: 12px !important;}

  #menu-main > li {display: block !important;}

  #menu-main {padding-right: 34px;overflow: hidden;margin-right: 0px;}

  #menu-main > li > a {font-size: 12px; margin-right: 0;}

  .menu-top > li {padding-bottom: 0;}

  .menu-top {padding-right: 18px;}

  .nav > li {display: inline-block;}

  .navbar-nav { margin: 4.5px ; }

  .navbarperson {max-height: 142px;}

  .col-xss-12 {width: 100%;}

  .col-xss-6 {width: 50%;}

  .hidden-xss {display: none !important;}

  .smartphone {position: relative; top: 0; right: 0; margin: auto; display: block;}

  .content-text-left {position: relative; top: 0; right: 0;}

  .content-right-text {padding: 0;}

  .titleprem h2 {margin-left: 60px;}

  .DialogHistory h2::before {bottom: 104px;right: 50%;}


  .modal-dialog1 {width: 440px; margin: 160px auto;}

  .Titlemodal1{padding: 14px 0; padding-left: 34px;}

  .Titlemodal1 h2 {font-size: 16px;}

  .Titlemodal1 h2::before {top: 30%;}

  .Titlemodal1 ul {margin-top: 18px; font-size: 12px; padding-left: 12px;}

  .content-right-text {padding-left: 0; padding-top: 0; text-align: center;}

  .content-btn {padding-right: 0;}

  .styleBorderCard::after { right: 149px; }

  .line-right {position: relative; left: 80px;}

  .sinhistory {padding: 20px 24px 0 0;}

  .DialogHistory h2 {font-size: 22px;}

  /*PREMIOS */

  .navbarperson {max-height: 245px;}

  .imgmaster {padding-left: 10px; padding-right: 10px;}

  .imgmaster img {max-width: 110px}

  .imgbanco {padding-right: 0}

  .imgbanco img {max-width: 110px;}

  #menu-main {text-align: right;}

  .col-xss-12 {width: 100%;}

  .contentcatalprem {right: 0; margin: 0; display: block; position: relative;}

  .content-right-text2 {padding-top: 0;}

  .line-right {left: 3px;}

  .parraf-slider2 {margin-bottom: 12px;}

  .imgUser img {max-width: 34px;}

  .linecontainer {display: none;}

  .titledatos {left: 40px; top: -35px;}

  .titledatos h2 {font-size: 22px;}

  .imgDirec img {max-width: 34px;}

  .imgDirec svg {display: none;}

  .titlecontacto {bottom: 4px; position: relative; display: inline-block; left: -8px; padding-right: 0; top: -13px;}

  .titlecontacto h2 {font-size: 22px;}

  .titlecontacto span {font-size: 14px;}

  .formcontact {padding-top: 32px;}

  .btnform {display: block;}

  .checkbox {display: block;}

  .boton2 {display: block;padding: 0;}

  .btn {display: block; width: 100%;}

  .navbar-footer {padding-left: 30px;}

  .DialogHistory h2::before {top: 7.5em !important;}

  .DialogHistory h2 { font-size: 18px !important; }

  .DialogHistory img {position: relative; top: -9em !important; right: -9em !important;}

  /*CONTACTO */

  .imgUser2 svg {display: none;}

  .imgUser2 img {max-width: 34px;}

  .titledatoscontact h2 {font-size: 22px; margin-left: 0;}

  .titledatoscontact {left: 40px;}

  .formcontact {padding: 30px 0 0;}

}

@media (max-width: 320px) {
  .col-320 { width: 100%; }
  .hidden-320 {display: none;}
  .sliders {height: 100% !important;}
  .list1 span::after {top: 8.8em !important;}
  .list2 span::after { top: 7.5em !important; }
  .list3 span::after { top: 3em !important; }
  .titbanner1 h2::after { top: 3em !important; right: 3.5em !important; }
  .formdoc,.boton  { width: 80% !important; }
  .titbanner1 h2 { font-size: 30px; }
  .cardMetas {margin: 0 auto 25px;}
  .styleBorderCard::after { right: 56%; }
  .content-logo-princ {padding-left: 10px !important;}
  .masterlogo {padding: 0;}
  .banlogo {padding: 0; padding-left: 1em !important;padding-top: 0.4em !important;}
  .banlogo img  {max-width: 130px !important;}
  .masterlogo img {max-width: 130px !important;}

  // HOME
  .imgmaster {padding: 0 !important; padding-left: 10px !important; padding-top: 0.5em !important;}
  .imgmaster img,.imgbanco img {max-width: 130px !important;}
  .imgbanco {padding-left: 10px !important;}
  .smartphone img { max-width: 150px !important; margin: auto; display: block;}
  .containermetas {padding: 2em 0.5em 0 !important;}
  .imgaward img {max-width: 56px  !important; padding: 0 !important;}
  .linecontainer {left: 2em !important; position: absolute !important; bottom: 0em !important;}
  .linecontainer svg {height: 60px !important;}
  .titlemetas h2,.titleprem h2 {font-size: 20px;}
  .imgprem img {max-width: 56px !important;padding-left: 0 !important;}
  .titleprem h2 {left: 1.5em; position:relative;}
  .premios {margin-top: 0 !important;}




  // MODALES
  .modal-dialog1 {width: 85% !important;}


}
